<div class="section">
 <div class="center-section">
   <div class="form-group">
      <label>Name</label>
      <input type="text" name="username" placeholder="Your name here">  
   </div>

   <div class="form-group">
    <label>Language you need help with: </label><br>
    <select name="Code_language" class="styled-select slate">
      <option value="volvo">Javascript</option>
      <option value="saab">Python</option>
      <option value="fiat">Ruby</option>
      <option value="audi">ReactJS</option>
      <option value="audi">AngularJS</option>
      <option value="audi">HTML</option>
      <option value="audi">Elixir</option>
      <option value="audi">PHP</option>
      <option value="audi">Swift</option>
      <option value="audi">C++</option>
    </select>     
   </div>

   <div class="form-group">
      Zipcode:
      <input type="text" name="username" placeholder="00000">     
   </div>


    <button class="steve">Find a Programmer!</button>
  </div>
</div>