
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.steve {
  width: 100%;
  margin-top: 20px;
  background-color: #AA1E38;
  padding: 15px 10px;  
  color: white;
  font-size: 20px;
  border: none;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
    height:40px;
    padding-left: 5px;
    width: 100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.styled-select {
   height: 29px;
   overflow: hidden;
   width: 100%;
}

.styled-select.slate {
   background-color: #fff;
   height: 34px;
   width: 100%;
}

.styled-select.slate select {
   border: none;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

.form-group {
  margin-bottom: 20px;
}