
/*
<<<<<<< HEAD* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
.html {
    margin: 0;
    padding: 0;
}
.navbar {
    width: 100%;
    height: 50px;
    background-color: white;
    top: 0;
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
}
.navbar a {
    text-decoration: none;
    color: #5b5b5b;
    display: block;
    padding: 0 20px;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: -moz-linear-gradient(
    top,
    #bc2061 0%,
    #76338e 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
    top,
    #bc2061 0%,
    #76338e 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
    to bottom,
    #bc2061 0%,
    #76338e 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.container {
    color: #5b5b5b;
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #bc2061; /* Old browsers */
}
.user-outer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.user-container {
    margin: 30px;
    width: 500px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.section {
    padding-bottom: 30px;
    border-bottom: 1px solid #d6d6d6;
}

.user-image {
    width: 220px;
    border-radius: 200px;
}

p.username {
    font-size: 40px;
    line-height: 0.5;
    font-weight: 700;
}

p {
    font-size: 25px;
}

button {
    width: 100px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding: 8px;
    cursor: pointer;
    background-color: #682275;
    color: white;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: #481451;
}

.section-title {
    text-align: left;
}
.lang-container {
    display: flex;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    flex-wrap: wrap;
}

.lang {
    background-color: #5b5b5b;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
    border-radius: 5px;
    font-weight: 100;
}

.single-address-container {
    text-align: left;
    display: flex;
    position: relative;
}

.address-container {
    margin-top: 20px;
}

.address-container button {
    right: 0;
    position: absolute;
    width: auto;
}

.address-name {
    font-size: 20px;
    font-weight: 500;
}

.chat {
    width: 100%;
    margin-top: 20px;
    background-color: #AA1E38;
    padding: 15px 10px;
}

.chat:hover {
    background-color: #9B1113;
}


.single-user {
    text-align: center;
    padding: 25px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 300px;
    height: 450px;
    text-decoration: none;
    color:#5b5b5b;
    margin: 25px;
}
.username {
    font-size: 30px;
    margin-top: 10px;
}
.username a {
    color: #5b5b5b;
    text-decoration: none;
}
.small {
    width: 150px;
}

.left-align {
    text-align: left;
}

.single-user .lang {
    font-size: 15px;
}

.steve {
  width: 100%;
  margin-top: 20px;
  background-color: #AA1E38;
  padding: 15px 10px;
  color: white;
  font-size: 20px;
  border: none;
}

.section-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
    height:40px;
    padding-left: 5px;
    width: 100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.styled-select {
   height: 29px;
   overflow: hidden;
   width: 100%;
}

.styled-select.slate {
   background-color: #fff;
   height: 34px;
   width: 100%;
}

.styled-select.slate select {
   border: none;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

.form-group {
  margin-bottom: 20px;
}

.center-section {
    width: 400px;
    margin-top: 30px;
}

label {
    color: white;
    font-size: 25px;
    display: block;
    margin-bottom: 5px;
}

input, select {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding: 25px;
    color:  #5b5b5b;
}

input::placeholder {
    color: #aaaaaa;
}

.styled-select.slate {
    height: 50px;
}

.steve {
    background-color: #481451;
}
