  Name:
<br>
  <input type="text" name="username" value="Mouse">
<br>
Language you need help with: 
<br>
<select name="Code_language">
  <option value="volvo">Javascript</option>
  <option value="saab">Python</option>
  <option value="fiat">Ruby</option>
  <option value="audi">ReactJS</option>
  <option value="audi">AngularJS</option>
  <option value="audi">HTML</option>
  <option value="audi">Elixir</option>
  <option value="audi">PHP</option>
  <option value="audi">Swift</option>
  <option value="audi">C++</option>
</select>
<br>
Zipcode:
<br>
<input type="text" name="username" value="(Enter Zip Code)">
